.routes-list {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    // border: 1px solid #ccc;
    background-color: #ffffff;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .routes-list h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    max-height: 250px;
    overflow: scroll;
  }
  
  .route-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .route-id{
    width: 50px;
    padding-right: 10px;
  }

  .route-co2{
    width: 50px;
    padding-right: 10px;
  }

  .route-duration{
    width: 50px;
  }
  
  .btn-delete {
    margin-left: 10px;
    width: 70px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    background-color: #cc0000;
  }
  