<div *ngIf="routes.length>0" class="routes-list">
    <!-- <h3>Current EcoRoutes</h3> -->
    <ul style="margin-top: 0px;">
      <!-- <li style="margin-top: 0px;">
        <div class="route-item">
          <div class="route-id">Route</div>
          <div class="route-co2">CO2 (Kg)</div>
          <div class="route-duration">Duration</div>
          <div style="min-width: 80px; height: 18px;"></div>
        </div>
      </li> -->
      <li *ngFor="let route of routes">
        <div class="route-item">
          <div class="route-id">{{ route.id }} ({{ route.chosenCO2}}) </div>
          <div class="route-co2">{{ getCO2(route) }} Kg</div>
          <div class="route-duration">{{ getDuration(route) }}</div>
          <button class="btn-delete" (click)="deleteRoute(route)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  
