main{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    app-route-map{
        width: 75%;
        min-height: 90vh;
        margin-left: 20px;
    }
}


  