<!-- <img src="assets/m2_mock_cities_1.png" alt="Mock of cities section visualisations for M2"> -->
<!-- <img src="assets/m2_mock_cities_2.png" alt="Mock of cities section visualisations for M2"> -->
<div class="search-area">
    <h1>Search for a city</h1>
    <div class="text-for-search">
        Here you can search for a city and see the top destinations reachable by the least amount of CO2 emissions. <br>
        Enter the city name, number of cities to display and the maximum distance to search for. <br><br>
    </div>
    <input type="text" id="citySearch" (ngModelChange)="search($event)" [(ngModel)]="cityInput"
        placeholder="City name">
    <ul *ngIf="filteredCities.length" class="suggestions">
        <li *ngFor="let city of filteredCities" (click)="selectCity(city)">{{ city }}</li>
    </ul>
    <input type="number" id="cityCount" placeholder="n" min="1" max="10" title="Number of Cities">
    <input type="number" id="maxDistance" placeholder="Max distance (km)" title="Maximum Distance">
    <button (click)="searchCity()">Search</button>
    <br><br>
</div>

<div class="container-citymap">
    <div id="map" style="height: 600px; width: 100%; position: relative;"></div>
    <div class="search-container">
        <!--
        <div id="results" style="display: none;">
            <h4>Top destinations reachable by least amount of CO2:</h4>
            <ul id="destinationList"></ul>
        </div>
        -->
        <svg id="co2BarPlot" width="400" height="400"></svg>
    </div>
</div>


<div class="graph-container">
    <div id="graph"></div>
    <div id="europe-map-container">
        <object id="europe-map" type="image/svg+xml" data="assets/europe-map.svg"></object>
    </div>
</div>

<div class="button-container">
    <button (click)="toggleView('city')">City View</button>
    <button (click)="toggleView('country')">Country View</button>
    <button (click)="toggleView('region')">Region View</button>
</div>