.graph-container {
    display: flex;
    background-color: #ffffff;
}

#graph {
    width: 50%;
}

#europe-map-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#europe-map {
    width: 100%;
    height: 100%;
}

#europe-map path {
    fill: #dcdcdc;
    stroke: #000000;
    stroke-width: 1;
}

img {
    margin-top: 20px;
    width: 100%;
}

.container-citymap {
    position: relative;
    width: 100%;
    height: 500px;
    display: block;
    z-index: 0;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.search-container {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 400px;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
}

#co2BarPlot {
    max-width: 98%;
    display: block;
}

.search-container .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#citySearch,
#cityCount,
#maxDistance {
    flex-grow: 1;
    padding: 12px 15px;
    margin-right: 5px;
    font-size: 1.25rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-area {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 1.25rem;
    background-color: #ffffff;
}

.text-for-search {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
}

button {
    padding: 12px 15px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.suggestions {
    position: absolute;
    top: 60px;
    z-index: 20;
    width: 50%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}