.graph-container {
    display: flex;
    background-color: #ffffff;
    /* Change background to white */
}

#graph {
    width: 50%;
}

#europe-map-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    /* Change background to white */
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#europe-map {
    width: 100%;
    height: 100%;
}

/* Ensure SVG path elements are visible */
#europe-map path {
    fill: #dcdcdc;
    /* Light gray fill color */
    stroke: #000000;
    /* Black stroke for borders */
    stroke-width: 1;
    /* Border width */
}

/* General styles for images */
img {
    margin-top: 20px;
    width: 100%;
}

/* Flex container for layout */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

#map {
    margin-right: 20px;
}

.search-container {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container .input-group {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

#citySearch {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 1.25rem;
    border: 2px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    padding: 12px 15px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#citySearch,
#cityCount,
#maxDistance {
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.suggestions {
    position: absolute;
    top: 60px;
    z-index: 20;
    max-width: 200px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}