<main>


    <div class="route-text">
        <h1>Regional Emissions</h1>

        Finally, let’s take a broader look at travel’s environmental impact across different regions. This visualization
        features a matrix displaying the average CO2 emissions for all possible combinations of departure and arrival
        regions, color-coded to highlight the emissions levels. In this view, we completely shift the perspective to a
        larger scale, expanding upon the graph, to show regional travel patterns in a clear and more comprehensive
        fashion.
        <br><br>
        Hover over the matrix cells to see the corresponding regions highlighted on the map. Understand how different
        regions compare in terms of CO2 emissions and explore the bigger picture of
        inter-regional
        travel.
        <br><br>

    </div>

    <div class="graph-container">
        <div class="graph-legend info legend leaflet-control">
            <div><strong>CO2 Emissions (kg)</strong></div>
            <div class="legend-gradient"
                style="height: 10px; width: 100%; background: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 255, 0), rgb(255, 0, 0));">
            </div>
            <div class="legend-scale">
                <span>0 kg</span><span style="float: right;">200 kg</span>
            </div>
        </div>

        <table class="grid">
            <th style="transform: rotate(-90deg); position: absolute; top: 250px; left: -95px; font-size: 16px;">
                Departure Region</th>
            <tr style="position: relative;">
                <th style="position: absolute;left: 240px;top: -35px;font-size: 16px;">Arrival Region</th>
            </tr>
            <tr style="height: 70px;">
                <th></th>
                <th *ngFor="let region of regions" style="transform: rotate(-90deg); font-weight: 100;">{{region}}
                </th>
            </tr>
            <tr *ngFor="let region of regions">
                <th style="font-weight: 100;">{{region}}</th>
                <td class="matrix-cell" id="{{region+';'+region2}}" *ngFor="let region2 of regions"
                    (mouseover)="highlightMap(region, region2)" (mouseout)="resetMapHighlight()">
                </td>
            </tr>

        </table>

        <div id="europe-map-container" style="transform: scale(0.75);">
            <object id="europe-map" type="image/svg+xml" data="assets/europe-map.svg"></object>
        </div>
    </div>
    <div class="empty-space"></div>
</main>