<nav class="navbar">
    <a href="eco-router">
      <div class="navbar-logo">
        <img src="assets/logo_img.png" class="logo" alt="EcoRoutes Logo">
        <img src="assets/name_only.png" class="name" alt="EcoRoutes name">
      </div>
    </a>
    <div class="navbar-links">
      <a href="eco-router">Router</a>
      <a href="cities">Cities</a>
      <a href="regions">Regions</a>
      <a href="https://github.com/com-480-data-visualization/com-480-project-ecoroutes/tree/master" class="right-link">About</a>
    </div>
 </nav>
  