.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  // border: 1px solid #ccc;
  // margin-top: 50px; /* more top margin for clear separation */
  border-radius: 10px;
  /* rounded corners */
  // width: 50%; /* adjust width as necessary */
  margin-left: auto;
  margin-right: auto;
  /* center the box horizontally */
  // box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
  background-color: #fff;
  /* white background */
  // padding: 10px;
}

.navbar-logo {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;

  .logo {
    height: 80px;
  }

  .name {
    height: 20px;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 20px;
}

.navbar-links a {
  color: black;
  text-decoration-color: #8ed99d;
  text-decoration-thickness: 4px;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.right-link {
  margin-left: auto;
}

.navbar-links a:hover {
  text-decoration-color: #28430a;
}