main{
    margin-top: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;

    // app-route-map{
    //     width: 60%;
    //     min-height: 90vh;
    //     margin-left: 20px;
    // }
}

.map-area{
    position: relative;

    .widget{
        position: absolute;
        top: 100px;
        left: 10px;
        z-index: 1000;
    }
}


  