<main>
  <div class="router-text">

      <h1> EcoExplorer: sustainable journey planner</h1>

      Explore your desired journey by selecting the departure and arrival city. The color legend indicates the amount
      of CO2 emissions released per passenger for each route. You can also choose your preferred mode of transportation
      to compare CO2 emissions between different modes. Hover over the route to view details about CO2 emissions, energy
      consumption, and travel time.
  
  </div>
  <div class="map-area">
    <div class="widget">
      <app-routes-input></app-routes-input>
      <app-list-routes></app-list-routes>
    </div>
    <app-route-map></app-route-map>
  </div>
</main>