/* General styling for the entire route box */
.route-box {
  border: 1px solid #ccc;
  padding: 20px;
  // margin-top: 50px; /* more top margin for clear separation */
  border-radius: 10px; /* rounded corners */
  // width: 50%; /* adjust width as necessary */
  margin-left: auto;
  margin-right: auto; /* center the box horizontally */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
  background-color: #fff; /* white background */
}

h3{
  margin-top: 0px;
}

/* Styling for form groups (label + input) */
.form-group {
  margin-bottom: 20px; /* increased bottom margin for better spacing */
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.form-group label {
  margin-bottom: 5px; /* space between label and input */
  font-weight: bold; /* make label text bold */
}

.form-group input[type="text"] {
  padding: 8px;
  // width: 100%; /* full width inputs */
  border: 1px solid #ccc;
  border-radius: 5px; /* rounded corners for inputs */
}

/* Checkbox group styling */
.checkbox-group {
  margin-bottom: 20px; /* space above the button */
}

.checkbox-group label {
  margin-right: 20px; /* space between checkboxes */
  display: inline-flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px; /* space between checkbox and label text */
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* rounded corners for button */
  font-size: 16px; /* larger font size for better readability */
  display: block; /* make the button block to fill width */
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15); /* subtle shadow for the button */
}

.btn-primary:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.suggestions {
  position: absolute;
  top: 60px;
  z-index: 20;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

  