main{
    background-image: url(../../assets/train-mountains.jpg);
    height: calc(100vh - 96px);
    background-size: cover;
    border-radius: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;

    // app-route-map{
    //     width: 60%;
    //     min-height: 90vh;
    //     margin-left: 20px;
    // }
}

.router-text{
    border-radius: 20px;
    background: white;
    padding: 30px 40px 40px 40px;
    /* width: 60vw; */
    position: absolute;
    text-align: justify;
    margin: 20px 120px;
    font-size: 16px;

    h1{
        margin-top: 0;
        text-align: center;
    }
}