<main>
  <!-- <img src="assets/train-mountains.jpg" class="bg-img" alt="Train and moutains"> -->
  <div class="router-text">

    <h1> EcoRoutes: The carbon cost of transportation</h1>
    <div class="quote">
      <i class="fas fa-quote-left fa-xs text-primary"></i>
      <i>The first step towards sustainable living is verifying your carbon footprint. </i>
      <i class="fas fa-quote-right fa-xs text-primary"></i> <br><br>
    </div>

    Welcome to EcoRoutes, where we illuminate the path to sustainable living through the lens of your travel choices. In
    an era defined by a pressing climate emergency, adopting greener lifestyles is crucial. Transportation is a major
    contributor to this challenge, accounting for approximately one-fifth of global carbon dioxide (CO2) emissions—a
    figure set to rise in the future. <br><br>

    Have you ever paused to consider the environmental footprint of your adventures? Consider this: a round-trip flight
    from Lisbon to Helsinki produces emissions comparable to what an average person in the EU generates by heating their
    home for six months. We all cherish the opportunity to explore new places, but it’s vital to ponder the
    environmental
    impact of our travel choices. <br><br>

    By presenting data in a visually engaging manner, we hope to inspire changes in travel behavior and transportation
    policies that favor sustainability. We believe our story will promote a shift towards a greener future. <br><br>

    <div class="last-sent">
      Join us on this vital journey. Together, we can pave the way to a more sustainable world, one trip at a time!
    </div>
    <br>

    <!-- <div class="button-area">
        <button>EcoExplorer</button>
        <button>Cities</button>
        <button>Regional Emission</button>
      </div> -->

  </div>
</main>